.boardingPassPage {
  height: 100%;
  overflow-y: scroll;
  width: 100%;
  @extend %flex-column-container;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Lineto';
  background-color: white;

  .infoInputPageHeader {
    width: 100%;
    height: 64px;
    position: fixed;
    min-height: 64px;
    font-family: 'Lineto';
    text-transform: uppercase;
    background-color: #484D64;
    z-index: 2000;

    @extend %flex-column-container;
    justify-content: center;
    align-items: center;

    .statusBarHeader {
      height: 20px;
      width: 100%;
    }

    .infoInputPageHeaderTitle{
      width: 100%;
      height: 44px;
      letter-spacing: 0.1rem;
      color: #fff;
      @extend %flex-column-container;
      justify-content: center;
      align-items: center;
    }
  }

  .buddha-container{
    margin-top: 64px;
    width: 100%;
    img {
      height: 150px;
      width: 100%;
      object-fit: cover;
    }
  }

  .infoInputMiddleAreaContainer{
    margin-top: -4px;
    background-color: #35385B;

    position: relative;
    width: calc(100% - 24px);
    padding: 12px;
    // padding-left: 12px;
    // padding-right: 12px;
    .clipCircleContainer{
      background-color: #fff;
      position: relative;
      height: 50px;
      .clipCircle{
        background-color: #35385B;
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -25px;
        margin-top: -25px;
        width: 50px;
        height: 50px;
        border-radius: 50px;
      }
    }
    .infoInputMiddleArea{
      background-color: #fff;
      .infoDepartDateContainer{
        padding-bottom: 18px;
        width: 100%;
        text-align: center;
        .infoDepartDate{
          color: #CFCCCC;
          font-size: 1rem;
          letter-spacing: 0.2rem;
        }
        .infoMiddleTitle{
          color: #000;
          font-size: 1.3rem;
          font-weight: 500;
          letter-spacing: 0.06rem;
          padding: 4px 0;
        }
        .infoTicketDescription{
          color: #7c7c7c;
          font-size: 0.8rem;
          letter-spacing: 0;
        }
      }

      .greylineContainer {
        width: calc(100% - 48px);
        padding: 0 24px;

        .greyline{
          width: 100%;
          border-bottom: 1px solid #CFCCCC;

        }
      }


      .infoQRContainer{
        padding-bottom: 5%;
        padding-top: 5%;
        width: 100%;
        @extend %flex-row-container;
        justify-content: center;
        align-items: center;

        .infoETAContainer{
          width: 45%;
          text-align: center;
          flex: 1 0 0;
          .clockIcon{
            img{
              height: auto;
              width: 24px;
            }
          }
          .infoETA{
            color: #E56B6B;
            font-size: 2rem;
          }
          .infoETAText{
            color: #CFCCCC;
            font-size: 0.8rem;
            text-transform: uppercase;
            letter-spacing: 0.1rem;
          }
        }

        .qrCodePlaceHolder {
          flex: 1 0 0;
          width: 100%;
          @extend %flex-column-container;
          justify-content: center;
          align-items: center;
        }
      }

      .interestsContainer{
        width: 100%;
        padding: 12px 24px;
        // height: 400px;
        // text-align: center;

        .interestCardView {
          .speicalBar {
            width: calc(100% - 48px);
            background-color: #FFCD00;
            color: #fff;
            @extend %flex-row-container;
            justify-content: flex-start;
            align-items: center;
            padding: 6px 4px;

            .speacialText{
              margin-left: 8px;
              font-size: 0.8rem;
              letter-spacing: 0.08rem;
              text-transform: uppercase;
            }

          }

          .interestImageContainer{
            width: calc(100% - 48px);
            img.interestImage{
              width: 100%;
              height: 150px;
              // height: auto;
              object-fit: cover;
              object-position: center
            }
          }

          .interestInfoContainer{
            margin-top: -4px;
            width: calc(100% - 48px - 24px);
            background-color: #F3F3F3;
            padding: 12px;
            .interestInfoHeader{
              font-weight: 500;
              letter-spacing: 0.07rem;
            }
            .interestInfoAddress{
              @extend %flex-row-container;
              justify-content: flex-start;
              align-items: center;
              margin-top: 4px;
              color: #7c7c7c;

              .fa {
                font-size: 1rem;
                padding-right: 8px;
              }

              .addressText {
                font-size: 0.7rem;
                letter-spacing: 0.09rem;
              }

            }
          }

          .interestInfoEstimates{
            margin-top: 4px;
            @extend %flex-row-container;
            justify-content: flex-start;
            align-items: center;
            font-size: 0.8rem;
            letter-spacing: 0.08rem;
            color: #7c7c7c;

            .interestInfoEventDuration {

            }
            .interestInfoTransitTime{
              margin-left: 12px;

              img.walk-icon {
                height: 14px;
              }
            }
          }
        }
      }

    }
  }

  .infoBottomContainer{
    width: 100%;
    background-color: #484D64;
    position: fixed;
    bottom: 0;
    padding: 12px;
    transition: all 0.2s linear;

    @extend %flex-column-container;
    justify-content: center;
    align-items: center;

    &:active {
      background-color: darken(#484D64, 10);
    }

    img {
      height: 28px;
      width: auto;
    }

    .printText{
      text-align: center;
      font-size: 0.8rem;
      color: #fff;
    }

  }

}
