.boardingPassPage {
  // height: 100%;
  overflow-y: scroll;
  width: 100%;
  @extend %flex-column-container;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Lineto';
  background-color: white;

  .infoInputPageHeader {
    width: 100%;
    height: 64px;
    min-height: 64px;
    font-family: 'Lineto';
    text-transform: uppercase;
    background-color: #484D64;

    @extend %flex-column-container;
    justify-content: center;
    align-items: center;

    .statusBarHeader {
      height: 20px;
      width: 100%;
    }

    .infoInputPageHeaderTitle{
      width: 100%;
      height: 44px;
      letter-spacing: 0.1rem;
      color: #fff;
      @extend %flex-column-container;
      justify-content: center;
      align-items: center;
    }
  }

  .buddha-container{
    width: 100%;
    img {
      height: 150px;
      width: 100%;
      object-fit: cover;
    }
  }

  .infoInputMiddleAreaContainer{
    background-color: #484D64;
    overflow-y: scroll;
    position: relative;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    .clipCircleContainer{
      background-color: #fff;
      position: relative;
      height: 50px;
      .clipCircle{
        background-color: #484D64;
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -25px;
        margin-top: -25px;
        width: 50px;
        height: 50px;
        border-radius: 50px;
      }
    }
    .infoInputMiddleArea{
      background-color: #fff;
      .infoDepartDateContainer{
        width: 100%;
        text-align: center;
        .infoDepartDate{
          color: #CFCCCC;
          font-size: 1.4rem;
        }
        .infoMiddleTitle{
          color: #7C7C7C;
          font-size: 2rem;
        }
        .infoTicketDescription{
          color: #CFCCCC;
          font-size: 1.6rem;
        }
      }

      .greyline{
        width: 100%;
        border-color: #CFCCCC;
        border-width: 1px;
        border-style: solid;
      }

      .infoQRContainer{
        padding-bottom: 5%;
        padding-top: 5%;
        width: 100%;
        @extend %flex-row-container;
        .clockIcon{
          img{        
            height: auto;
            width: 10%;
          }
        }
        .infoETAContainer{
          width: 45%;
          text-align: center;
          .infoETA{
            color: #E56B6B;
            font-size: 2.5rem;
          }
          .infoETAText{
            color: #CFCCCC;
            font-size: 1.6rem;
          }
        }

        .interestsContainer{
          width: 100%;
          height: 400px;
          text-align: center;
          .interestImageContainer{
            width: 100%;
            img.interestImage{
              width: 70%;
              height: auto;
            }
          }
        }
      }

    }
  }
  
  .infoBottomContainer{
    overflow-y: scroll;
  }

}
